    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-3">
          <h1>DiceRollerIO</h1>
          <p>
            <a id="rollbtn" class="btn btn-primary btn-lg" role="button">
              Roll Dice
            </a>
          </p>
        </div>
        <div class="col-md-1">
          <input type="checkbox" id="displaydie1toggle" name="displaydie1toggle" class="diceselector">
          <label class="dice6 dice" id="displaydie1" for="displaydie1toggle">
            0
          </label>
        </div>
        <div class="col-md-1">
          <input type="checkbox" id="displaydie2toggle" name="displaydie1toggle" class="diceselector">
          <label class="dice6 dice" id="displaydie2" for="displaydie2toggle">
            0
          </label>
        </div>
        <div class="col-md-1">
          <input type="checkbox" id="displaydie3toggle" name="displaydie1toggle" class="diceselector">
          <label class="dice6 dice" id="displaydie3" for="displaydie3toggle">
            0
          </label>
        </div>
        <div class="col-md-1">
          <input type="checkbox" id="displaydie4toggle" name="displaydie1toggle" class="diceselector">
          <label class="dice6 dice" id="displaydie4" for="displaydie4toggle">
            0
          </label>
        </div>
        <div class="col-md-1">
          <input type="checkbox" id="displaydie5toggle" name="displaydie1toggle" class="diceselector">
          <label class="dice6 dice" id="displaydie5" for="displaydie5toggle">
            0
          </label>
        </div>
        <div class="col-md-1">
          <input type="checkbox" id="displaydie6toggle" name="displaydie1toggle" class="diceselector">
          <label class="dice6 dice" id="displaydie6" for="displaydie6toggle">
            0
          </label>
        </div>
        <div class="col-md-1">
          <input type="checkbox" id="displaydie7toggle" name="displaydie1toggle" class="diceselector">
          <label class="dice12 dice" id="displaydie7" for="displaydie7toggle">
            0
          </label>
        </div>
      </div>

