    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-3">
          <h1>DiceRollerIO</h1>
          <p>
            <a id="rollbtn" class="btn btn-primary btn-lg" role="button">
              Roll Dice
            </a>
          </p>
        </div>
        <div class="col-md-1 dice" id="displaydie1">0</div>
        <div class="col-md-1 dice" id="displaydie2">0</div>
        <div class="col-md-1 dice" id="displaydie3">0</div>
        <div class="col-md-1 dice" id="displaydie4">0</div>
        <div class="col-md-1 dice" id="displaydie5">0</div>
        <div class="col-md-1 dice" id="displaydie6">0</div>
        <div class="col-md-1 dice" id="displaydie7">0</div>
      </div>

