@import url(bootstrap.min.css);
@import url(bootstrap-theme.min.css);

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.dice {
	border: 1px solid black;
	border-radius: 8px;
	height: 78px;
	width: 78px;
	text-align: center;
	font-size: 32px;
	margin: 50px 0px;
	padding-top: 19px;
}

.dice12 {
	background-color: rgba(200, 200, 200, 0.5);
	border-radius: 33%;
}

.diceselector {
	display: none;
}
.diceselector:checked + .dice {
	background-color: rgba(255, 0, 0, .2);
}